aside.company-info
  figure.company-logo
    img(src="./images/logo.png")
  div.company-data
      p
        strong Название компании: 
        | ООО “Преображенский Мясоперерабатывающий Комбинат”
      p
        strong ОГРН (ОГРНИП):
        | 1166733069612
      p
        strong ИНН: 
        | 6726022894
      p
        strong Страна: 
        | Россия
      p
        strong Описание:
        | Преображенский МПК - современное мясоперерабатывающее предприятие в Тверской области.
        br
        | Введен в эксплуатацию в 2013 г. Основу ассортимента составляют порционные и мелкокусковые полуфабрикаты из охлажденной свинины. Продукция мясокомбината является частью вертикально-интегрированного холдинга КоПИТАНИЯФ.
        br
        | Предприятия холдинга образуют полный цикл производства от выращивания зерна и производства комбикормов до производства свежего мяса, что позволяет снизить себестоимость и гарантировать безопасность и высокое качество продукции.
      ul
        li
          strong Виды деятольности:
        li &mdash; Оборудование, упаковка
        li &mdash; Оптовая торговля
        li &mdash; Производитель готовой продукции
        li &mdash; Производитель мясного сырья
        li &mdash; Розничная торговля
      ul
        li
            strong Виды продукции: 
        li &mdash; Свинина
        li &mdash; Замороженное и охлажденное мясо
        li &mdash; Мясные полуфабрикаты
        li &mdash; Колбасы, сосиски, деликатесы
      p
        strong Товары и услуги:
        | Мясо замороженное, мясо охлажденное, свинина, субпродукты