section.article
    article.article-product
    aside.article-info
        figure.article-logo
            img(src="./images/logo.png")
        div.article-data
            p 
                strong Название компании:
                | ООО “Преображенский Мясоперерабатывающий Комбинат”
            p 
                strong ОГРН (ОГРНИП):
                |  1166733069612
            p 
                strong ИНН: 
                |  6726022894
            p 
                strong Страна:
                | Россия
            p 
                strong Описание:
                |  Преображенский МПК - современное мясоперерабатывающее предприятие в Тверской области. Введен в эксплуатацию в 2013 г. Основу ассортимента составляют порционные и мелкокусковые полуфабрикаты из охлажденной свинины. Продукция мясокомбината является частью вертикально-интегрированного холдинга КоПИТАНИЯФ. Предприятия холдинга образуют полный цикл производства от выращивания зерна и производства комбикормов до производства свежего мяса, что позволяет снизить себестоимость и гарантировать безопасность и высокое качество продукции.
            ul
                li 
                    strong Виды деятольности:
                li Оборудование, упаковка
                li Оптовая торговля
                li Производитель готовой продукции
                li Производитель мясного сырья
                li Розничная торговля
            ul
                li 
                    strong Виды продукции: 
                li Свинина
                li Замороженное и охлажденное мясо
                li Мясные полуфабрикаты
                li Колбасы, сосиски, деликатесы
            p
                strong Товары и услуги:
                |  Мясо замороженное, мясо охлажденное, свинина, субпродукты