div.buttons
    ul.buttons-list
        li.buttons-item
            img(src="./images/view.svg")
            button.buttons-item__btn
                | 578 (+2)
        
        li.buttons-item
            img(src="./images/review.svg")
            button.buttons-item__btn
                | Оставить отзыв
    button.buttons-btn
        | Работаете в этой компании?