div.slider.close
    button.slider-close &times;
    button.slider-arrow.left &larr;
    button.slider-arrow.right &rarr;
    figure.slider-gallery
        img.slider-img
    p.slider-count
      span.slider-count__item
      span &nbsp;/&nbsp;
      span.slider-count__total
