div.router
  ul.router-list
    li.router-item
      a.router-link(href='#')
        | Главная
    li.router-item
      a.router-link(href='#')
        | Мясные компании в Москве
    li.router-item.active
      | Преображенский МПК, ООО